<div class="container-fluid" id="view-principal">
  <form (ngSubmit)="sendform(forma)" #forma="ngForm">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Palabra" name="q" ngModel>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit">Buscar</button>
      </span>
    </div>
  </form>
</div>

<div class="container" id="view-principal-detail">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" *ngFor="let item of _fds.items | async">
      {{item.w}}
    </a>
  </div>
</div>
