<div class="container-fluid" id="view-principal">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Palabra">
    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Buscar</button>
      </span>
  </div>
</div>

<div class="container" id="view-principal-detail">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
  </div>
</div>
